<section class="bg-half-170 d-table w-100" style="background: url('./assets/images/it/cta.jpg') center center;">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-6 col-12">
        <div class="title-heading">
          <!--          <h6 class="text-white-50">A TI da sua empresa auxilia no desenvolvimento do seu negócio?</h6>-->
          <h1 class="fw-bold text-white title-dark mt-2 mb-3">A TI da sua empresa auxilia no desenvolvimento do seu negócio?</h1>
          <p class="para-desc text-white-50">
            Na Markpro, trabalhamos há mais de 10 anos para que a tecnologia sirva da melhor maneira a todos que sabem que o caminho da evolução de seus negócios passa por ela, aliando sempre o aumento de produtividade e a redução de custos.
          </p>
          <div class="mt-4 pt-2">
            <a href="{{messageNumber}}" target="_blank" class="btn btn-primary m-1"><i class="uil uil-phone"></i> Fale com um consultor</a>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div> <!--end container-->
</section><!--end section-->
<app-parceiros></app-parceiros>
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">O que fazemos?</h4>
          <p class="text-muted para-desc mb-0 mx-auto">
            Conheça as <a class="text-primary fw-bold"  href="javascript;" routerLink="/quem-somos">soluções</a> que desenvolvemos e implantamos para atender o seu negócio ao próximo nível através da tecnologia.
          </p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
    <div class="row">
      <div class="col-lg-4 col-md-5 mt-5 pt-2" *ngFor="let solucao of solucoes">
        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
          <span class="h1 icon2 text-primary">
              <i [class]="solucao?.icone"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>{{solucao?.titulo}}</h5>
            <p class="para text-muted mb-0">{{solucao?.descricao}}</p>
          </div>
          <span class="big-icon text-center">
              <i [class]="solucao?.icone"></i>
          </span>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
  <!-- About Start -->
  <div class="container mt-100 mt-60">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="card work-container work-modern overflow-hidden rounded border-0">
          <div class="card-body p-0">
            <img src="./assets/images/course/online/2.png" class="img-fluid" alt="Mark Pro">
            <div class="overlay-work bg-dark"></div>
          </div>
        </div>
      </div><!--end col-->
      <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 pt- pt-lg-0">
        <div class="ms-lg-4">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">SOBRE NÓS</h4>
            <p class="text-muted para-desc">
              A Markpro tem uma sólida experiência no mercado de tecnologia. Somos certificados e reconhecidos pelos mais importantes fabricantes do mercado corporativo de TI.
            </p>
            <p class="text-muted para-desc mb-0">
              Nossos especialistas são preparados para atender você e sua empresa, indicando as melhores e mais sofisticadas soluções corporativas de tecnologia para contribuirmos com o seu sucesso.
              <br />  <br />
              Através de gestão, unindo tecnologia e processos bem definidos aos melhores talentos, humanos e técnicos, entregamos as soluções mais robustas para evoluir o seu ambiente de TI.
            </p>
          </div>
          <ul class="list-unstyled text-muted">
            <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle align-middle"></i></span>Aumento da efetividade do setor de TI em até 90%</li>
            <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle align-middle"></i></span>Redução de ociosidade e erros no setor</li>
            <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle align-middle"></i></span>Gerenciamento apropriado de riscos relacionados a TI</li>
          </ul>
        </div>
      </div>
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h6 class="text-primary">Comece a trabalhar com a Markpro</h6>
          <h4 class="title mb-4">Processo de Trabalho</h4>
          <p class="text-muted para-desc mx-auto mb-0">
            Podemos fornecer tudo o que você precisa para gerar conscientização, direcionar tráfego, conectar.
          </p>
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <div class="row">
      <div class="col-md-4 mt-4 pt-2">
        <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
          <div class="icons text-primary text-center mx-auto">
            <i class="uil uil-presentation-edit d-block rounded h3 mb-0"></i>
          </div>

          <div class="card-body">
            <h5 class="text-dark">Diagnóstico</h5>
            <p class="text-muted mb-0">Realizamos um diagnóstico da situação atual de sua estrutura de TI e vamos elaborar um plano de investimento e melhorias e apresentar.
            </p>
          </div>
        </div>
      </div><!--end col-->
      <div class="col-md-4 mt-md-5 pt-md-3 mt-4 pt-2">
        <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
          <div class="icons text-primary text-center mx-auto">
            <i class="uil uil-airplay d-block rounded h3 mb-0"></i>
          </div>
          <div class="card-body">
            <h5 class="text-dark">Sustentação</h5>
            <p class="text-muted mb-0">Assumimos a operação do dia a dia e cuidamos de tudo o que se refere à TI: Suporte Técnico, Gestão e Processos.</p>
          </div>
        </div>
      </div><!--end col-->
      <div class="col-md-4 mt-md-5 pt-md-5 mt-4 pt-2">
        <div class="card features feature-clean work-process bg-transparent d-none-arrow border-0 text-center">
          <div class="icons text-primary text-center mx-auto">
            <i class="uil uil-image-check d-block rounded h3 mb-0"></i>
          </div>
          <div class="card-body">
            <h5 class="text-dark">Adequação</h5>
            <p class="text-muted mb-0">Resolvemos os problemas que estejam impactando o seu negócio e vamos propor alternativas de investimento adequados.</p>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<section class="section bg-light">
  <div class="container">
  <div class="row align-items-end">
    <div class="col-md-12">
      <div class="section-title text-center text-md-start">
        <h4 class="title mb-4 text-center">5 motivos pelos quais você pode confiar sua TI a Markpro</h4>
      </div>
    </div><!--end col-->
  </div><!--end row-->
  <div class="row">
    <div class="col-md-4 mt-4 pt-2">
      <ul class="nav nav-pills nav-justified flex-column bg-white rounded shadow p-3 mb-0 sticky-bar" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link rounded active" id="webdeveloping" data-bs-toggle="pill" href="#developing" role="tab" aria-controls="developing" aria-selected="false">
            <div class="text-left py-1">
              <h6 class="mb-0">1 - Redução de custos</h6>
            </div>
          </a><!--end nav link-->
        </li><!--end nav item-->
        <li class="nav-item mt-2">
          <a class="nav-link rounded" id="database" data-bs-toggle="pill" href="#data-analise" role="tab" aria-controls="data-analise" aria-selected="false">
            <div class="text-left py-1">
              <h6 class="mb-0">2 - Controle dos serviços</h6>
            </div>
          </a><!--end nav link-->
        </li><!--end nav item-->
        <li class="nav-item mt-2">
          <a class="nav-link rounded" id="server" data-bs-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">
            <div class="text-left py-1">
              <h6 class="mb-0">3 - Retorno do investimento</h6>
            </div>
          </a><!--end nav link-->
        </li><!--end nav item-->
        <li class="nav-item mt-2">
          <a class="nav-link rounded" id="webdesigning" data-bs-toggle="pill" href="#designing" role="tab" aria-controls="designing" aria-selected="false">
            <div class="text-left py-1">
              <h6 class="mb-0">4 - Know-how de especialistas</h6>
            </div>
          </a><!--end nav link-->
        </li><!--end nav item-->
        <li class="nav-item mt-2">
          <a class="nav-link rounded" id="garantiaID" data-bs-toggle="pill" href="#garantia" role="tab" aria-controls="garantia" aria-selected="false">
            <div class="text-left py-1">
              <h6 class="mb-0">5 - Garantia de qualidade</h6>
            </div>
          </a><!--end nav link-->
        </li><!--end nav item-->
      </ul><!--end nav pills-->
    </div><!--end col-->
    <div class="col-md-8 col-12 mt-4 pt-2">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="developing" role="tabpanel" aria-labelledby="webdeveloping">
          <div class="mt-4">
            <p class="text-muted">Seus custos serão menores, uma vez que contratação, pagamentos e encargos de pessoal ficarão sob responsabilidade da Markpro
            </p>
          </div>
        </div><!--end teb pane-->
        <div class="tab-pane fade bg-white p-4 rounded shadow" id="data-analise" role="tabpanel" aria-labelledby="database">
          <div class="mt-4">
            <p class="text-muted">A confiança dos nossos clientes é o mais importante, por isso geramos relatórios de todos dos serviços executados, do desempenho e do estado dos equipamentos</p>
          </div>
        </div><!--end teb pane-->
        <div class="tab-pane fade bg-white p-4 rounded shadow" id="security" role="tabpanel" aria-labelledby="server">
          <div class="mt-4">
            <p class="text-muted">Vamos constantemente sugerir melhorias e aquisições que podem ajudar a empresa a obter economia de consumo e aumento de produtividade</p>
          </div>
        </div><!--end teb pane-->
        <div class="tab-pane fade bg-white p-4 rounded shadow" id="designing" role="tabpanel" aria-labelledby="webdesigning">
          <div class="mt-4">
            <p class="text-muted">Conte com um time de profissionais altamente treinados, atualizados e capacitados para que seu negócio posso crescer impulsionado por sua TI</p>
          </div>
        </div><!--end teb pane-->
        <div class="tab-pane fade bg-white p-4 rounded shadow" id="garantia" role="tabpanel" aria-labelledby="garantiaID">
          <div class="mt-4">
            <p class="text-muted">Nós vamos garantir um alto nível de segurança e rapidez no atendimento à quaisquer eventualidades e um suporte para todas as horas.</p>
          </div>
        </div><!--end teb pane-->
        <p class="mt-4 destaque">"Com a Markpro, não existe jogo de empurra-empurra. Resolvemos o problema ou gerenciamos a situação com seus outros fornecedores para garantir a solução!"</p>
      </div><!--end tab content-->
    </div><!--end col-->
  </div><!--end row-->
</div><!--end container-->
</section>

