.whatssap {
  height: 40px;
  line-height: 40px;
  color: #fff;
  position: fixed;
  bottom: 17px;
  right: 16px;
  z-index: 99;
  font-size: 18px;
  margin: 18px 0;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.icon {
  background-color: #40c351;
  height: 60px;
  width: 59px;
  padding: 8px;
  border-radius: 8px;
}
